/* Layout css */
body, html{
	width: 100%;
	height: 100%;
}
aside{
	width: 250px;
	height: 100%;
	background-color: black;
}
body>main{
	width: calc(100% - 250px);
	height: 100%;
}
body>main>header{
	width: 100%;
	height: 70px;
	background-color: blue;
}