body, html{
    width:100%;
    height:100%;
    background-color: #f2f2f2;
}
.form-header label{
	width: 80px;
	height: 2px;
	background-color: #444444;
}
.form-header label:nth-child(1){
	margin-right: 10px;
}
.form-header label:nth-last-child(1){
	margin-left: 10px;

}
.form-body input[type='email'], .form-body input[type='password']{
	padding: 3px 5px;
}
.form-body a{
	text-align: center;
}